In [ ]:
import pandas as pd; 

# 1. Load the dataset
file_name = "/Users/eloiseee/Documents/INFO474/HW4/interactive_info_vis_portfolio/data/earthquakes-datetime-id-2026-01-30_22-11-37_-0800_earthquakes-2026-01-30_22-11-37_-0800.tsv.csv"
df = pd.read_csv(file_name, encoding='utf-16', sep='\t')
df.head()

,Earthquake ID,Event DateTime,Location Name,Search Parameters,Year,Damage ($Mil),Damage Description,Death Description,Deaths,Dy,...,Total Houses Damaged,Total Houses Damaged Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Injuries,Total Injuries Description,Total Missing,Total Missing Description,Tsu,Vol
0,NaN,NaN,NaN,"[""2000 <= Year >= 2026""]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-03 22:34:12_22.132_92.771,1/3/2000 10:34:12 PM,INDIA-BANGLADESH BORDER: MAHESHKHALI,NaN,2000.0,NaN,1.0,NaN,NaN,3.0,...,100.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-11 23:43:56_40.498_122.994,1/11/2000 11:43:56 PM,CHINA: LIAONING PROVINCE,NaN,2000.0,NaN,3.0,NaN,NaN,11.0,...,8800.0,4.0,3600.0,4.0,30.0,1.0,NaN,NaN,NaN,NaN
3,2000-01-14 23:37:07_25.607_101.063,1/14/2000 11:37:07 PM,CHINA: YUNNAN PROVINCE: YAOAN COUNTY,NaN,2000.0,73.5,4.0,1.0,5.0,14.0,...,NaN,NaN,41000.0,4.0,2528.0,4.0,NaN,NaN,NaN,NaN
4,2000-02-02 22:58:01_35.288_58.218,2/2/2000 10:58:01 PM,"IRAN: BARDASKAN, KASHMAR",NaN,2000.0,NaN,2.0,1.0,1.0,2.0,...,300.0,3.0,100.0,2.0,15.0,1.0,NaN,NaN,NaN,NaN

In [ ]:

# 2. Get the rows with the top 10 'deaths'
top_10_deaths = df.nlargest(10, 'Deaths')

In [7]:
top_10_deaths

,Earthquake ID,Event DateTime,Location Name,Search Parameters,Year,Damage ($Mil),Damage Description,Death Description,Deaths,Dy,...,Total Houses Damaged,Total Houses Damaged Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Injuries,Total Injuries Description,Total Missing,Total Missing Description,Tsu,Vol
616,2010-01-12 21:53:10_18.457_-72.533,1/12/2010 9:53:10 PM,HAITI: PORT-AU-PRINCE,NaN,2010.0,8000.0,4.0,4.0,316000.0,12.0,...,188383.0,4.0,97294.0,4.0,300000.0,4.0,NaN,NaN,4622.0,NaN
498,2008-05-12 06:28:00_30.98_103.396,5/12/2008 6:28:00 AM,CHINA: SICHUAN PROVINCE,NaN,2008.0,86000.0,4.0,4.0,87652.0,12.0,...,21000000.0,4.0,5360000.0,4.0,374171.0,4.0,NaN,NaN,3586.0,NaN
326,2005-10-08 03:50:39_34.451_73.649,10/8/2005 3:50:39 AM,"PAKISTAN: MUZAFFARABAD, URI, ANANTNAG, BARAMULA",NaN,2005.0,6680.0,4.0,4.0,76213.0,8.0,...,NaN,NaN,NaN,3.0,146599.0,4.0,NaN,NaN,NaN,NaN
1321,2023-02-06 01:17:35_37.166_37.042,2/6/2023 1:17:35 AM,TURKEY: KAHRAMANMARAS; SYRIA,NaN,2023.0,42900.0,4.0,4.0,56697.0,6.0,...,1474182.0,4.0,542461.0,4.0,119200.0,4.0,NaN,NaN,5873.0,NaN
198,2003-12-26 01:56:52_28.995_58.311,12/26/2003 1:56:52 AM,"IRAN: SOUTHEASTERN: BAM, BARAVAT",NaN,2003.0,500.0,4.0,4.0,31000.0,26.0,...,NaN,NaN,NaN,4.0,30000.0,4.0,NaN,NaN,NaN,NaN
41,2001-01-26 03:16:42_23.388_70.326,1/26/2001 3:16:42 AM,"INDIA: GUJARAT: BHUJ, AHMADABAD, RAJOKOT; PA...",NaN,2001.0,2623.0,4.0,4.0,20005.0,26.0,...,NaN,NaN,339000.0,4.0,166836.0,4.0,NaN,NaN,NaN,NaN
914,2015-04-25 06:11:26_28.231_84.731,4/25/2015 6:11:26 AM,NEPAL: KATHMANDU; INDIA; CHINA; BANGLADESH,NaN,2015.0,6000.0,4.0,4.0,8957.0,25.0,...,256697.0,4.0,498852.0,4.0,24000.0,4.0,3.0,1.0,NaN,NaN
365,2006-05-26 22:53:58_-7.961_110.446,5/26/2006 10:53:58 PM,"INDONESIA: JAVA: BANTUL, YOGYAKARTA",NaN,2006.0,3100.0,4.0,4.0,5749.0,26.0,...,NaN,NaN,127000.0,4.0,38568.0,4.0,NaN,NaN,NaN,NaN
1123,2018-09-28 10:02:45_-0.256_119.846,9/28/2018 10:02:45 AM,INDONESIA: SULAWESI,NaN,2018.0,1500.0,4.0,4.0,4340.0,28.0,...,39191.0,4.0,3673.0,4.0,10679.0,4.0,667.0,3.0,5689.0,NaN
1406,2025-03-28 06:20:52_22.011_95.936,3/28/2025 6:20:52 AM,MYANMAR (BURMA); THAILAND,NaN,2025.0,10970.0,4.0,4.0,3815.0,28.0,...,44535.0,4.0,12441.0,4.0,5145.0,4.0,116.0,3.0,NaN,NaN

In [8]:
# 3. Export to a new CSV file
# 'index=False' prevents pandas from adding an extra column for row numbers
output_file = "/Users/eloiseee/Documents/INFO474/HW4/interactive_info_vis_portfolio/data/top_10_deadliest_earthquakes.csv"
top_10_deaths.to_csv(output_file, index=False)

print(f"Success! Top 10 records exported to {output_file}")

Success! Top 10 records exported to /Users/eloiseee/Documents/INFO474/HW4/interactive_info_vis_portfolio/data/top_10_deadliest_earthquakes.csv